:root {
    --black-color: #141414;
    --red-color: #f5112c;
    --blue-color: #2429ff;
    --grey-color: #f5f5f5;
    --grey-line-color: #e9e9e9;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
        url("../fonts/Gilroy-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.woff2") format("woff2"),
        url("../fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Gilroy", sans-serif;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: var(--black-color);
    background-color: #fff;
    min-width: 320px;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1920px;
    overflow: hidden;
}

.btn {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    font-family: "Gilroy";
    letter-spacing: 0.8px;
    outline: none;
}

.btn-fill {
    width: 370px;
    height: 70px;
    color: #fff;
    background-color: var(--red-color);
    border-radius: 40px;
    transition: color ease-in-out 0.5s, backgruond-color ease-in-out 0.5s, border ease-in-out 0.5s;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

/*Header*/
.header__container {
    padding: 32px 392px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.contact {
    letter-spacing: 0.8px;
}

.address {
    margin-right: 28px;
}

.tel {
    margin-right: 38px;
}

.header__btn {
    margin-right: 3px;
    color: var(--red-color);
    transition: border-bottom ease-in-out 0.4s, font-size ease-in-out 0.4s;
}

.header__btn:hover {
    border-bottom: 1px solid var(--red-color);
    font-size: 18px;
}

/*Hero*/
.hero {
    background: url(/img/english_yes.png) no-repeat 16px 20px;
    background-size: contain;
}

.hero__container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.hero__container::before {
    content: "";
    position: absolute;
    top: 91px;
    right: 451px;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background-color: var(--blue-color);
    z-index: 1;
}

.hero__container::after {
    content: url(/img/bagel.svg);
    position: absolute;
    left: 284px;
    top: 257px;
}

.hero__image {
    position: relative;
    top: -104px;
    left: 9px;
    margin-right: 25px;
}

.hero__title-small {
    padding-top: 193px;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

.hero__title {
    position: relative;
    margin-bottom: 50px;
    width: 530px;
}

.hero__title::before {
    content: "";
    position: absolute;
    top: 131px;
    width: 63px;
    height: 7px;
    background-color: var(--red-color);
}

.hero__descr {
    font-size: 18px;
    max-width: 403px;
    line-height: 22px;
    margin-bottom: 98px;
}

.hero__descr::after {
    content: url(img/wave.svg);
    position: absolute;
    top: 483px;
    right: 390px;
    width: 145px;
    height: 19px;
}

.btn-fill:hover {
    color: var(--red-color);
    background-color: #fff;
    border: 1px solid var(--red-color);
}

/*Situations*/
.situations {
    background: url(img/section2-bg.png) no-repeat 0 -227px;
}

.situations__container {
    position: relative;
    padding: 171px 392px 227px;
}

.situations__title {
    width: 393px;
}

.situations__title::after {
    content: url(img/question.png);
    position: absolute;
    top: 127px;
    left: 662px;
}

.situations__list {
    display: flex;
    flex-direction: column;
}

.situations__item {
    display: flex;
}

.situations__item-1 {
    justify-content: flex-end;
    margin-bottom: 84px;
}

.situations__item-1::before {
    content: "";
    position: absolute;
    left: 667px;
    top: 438px;
    width: 2px;
    height: 338px;
    background-color: var(--grey-line-color);
}

.situations__item-3 {
    justify-content: flex-end;
    position: relative;
    margin-bottom: 239px;
}

.situations__item-3::before {
    content: "";
    position: absolute;
    left: 277px;
    width: 2px;
    height: 449px;
    background-color: var(--grey-line-color);
}

.situations__item-3::after {
    content: "";
    position: absolute;
    left: 267px;
    top: 93px;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background-color: var(--blue-color);
}

.situations__descr {
    letter-spacing: 1.9px;
    line-height: 27px;
}

.situations__descr-1 {
    position: relative;
    padding-top: 105px;
    margin-right: 22px;
    width: 270px;
}

.situations__descr-2 {
    position: relative;
    padding-top: 90px;
    width: 356px;
}

.situations__descr-3 {
    position: relative;
    padding-top: 129px;
    margin-right: 383px;
    width: 367px;
}

.situations__descr-4 {
    position: relative;
    padding-top: 132px;
    width: 285px;
}

.situations__descr-1::before {
    content: url(/img/01.png);
    position: absolute;
    top: 54px;
    right: -58px;
}

.situations__descr-2::before {
    content: url(/img/02.png);
    position: absolute;
    top: 30px;
    left: -77px;
}

.situations__descr-3::before {
    content: url(/img/03.png);
    position: absolute;
    top: 81px;
    right: -79px;
    z-index: 2;
}

.situations__descr-4::before {
    content: "в итоге...";
    position: absolute;
    top: 76px;
    left: -73px;
    font-size: 48px;
    font-weight: 800;
}

.situations__descr-1::after {
    content: url(/img/wave.svg);
    position: absolute;
    bottom: 65px;
    right: -46px;
}

.situations__img-2 {
    margin-right: 44px;
}

.situations__img-3 {
    position: absolute;
    top: -60px;
}

.situations__img-4 {
    margin-right: 39px;
}

/*About*/
.about {
    position: relative;
}

.about__container {
    position: relative;
    padding: 153px 392px;
    padding-right: 652px;
}

.about__title {
    position: relative;
    margin-bottom: 138px;
    width: 500px;
}

.about__title::after {
    content: "";
    position: absolute;
    top: 141px;
    left: 0;
    width: 65px;
    height: 7px;
    background-color: var(--red-color);
}

.about__item {
    width: 238px;
    letter-spacing: 1.9px;
}

.about__item:not(:last-child) {
    margin-right: 54px;
}

.about__list {
    display: flex;
    position: relative;
    padding-left: 24px;
}

.about__list::after {
    content: url(/img/wave.svg);
    position: absolute;
    bottom: -153px;
    right: -43px;
}

.about__item-title {
    position: relative;
    margin-bottom: 14px;
    font-weight: 800;
}

.about__item-title::before {
    content: "";
    position: absolute;
    top: -26px;
    left: -23px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--grey-color);
    z-index: -1;
}

.about__item-descr {
    line-height: 26.6px;
}

.about__img {
    position: absolute;
    top: -88px;
    right: 0;
}

/*Teachers*/
.teachers {
    position: relative;
}

.teachers::before {
    content: "";
    position: absolute;
    top: 359px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--grey-line-color);
}
.teachers__container {
    padding: 90px 392px 0;
    margin-bottom: 58px;
}

.teachers__list {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.teachers__list::after {
    content: url(/img/waves.png);
    position: absolute;
    top: 156px;
    right: -236px;
}

.teachers__title {
    margin-bottom: 47px;
    position: relative;
}

.teachers__title::after {
    content: url(/img/bagel-grey.svg);
    position: absolute;
    top: -45px;
    right: -236px;
    z-index: -1;
}

.teachers__img {
    margin-bottom: 26px;
}

.teachers__name {
    margin-bottom: 10px;
    font-weight: 800;
}

.teachers__descr {
    width: 366px;
    line-height: 24.6px;
    font-size: 14px;
}

.teachers__item {
    letter-spacing: 0.9px;
}

.teachers__item-1,
.teachers__item-2 {
    position: relative;
    margin-right: 19px;
}

.teachers__item-1::after {
    content: "";
    position: absolute;
    left: -148px;
    top: 156px;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background-color: var(--blue-color);
}

/*Programm*/
.programm {
    position: relative;
}

.programm__container {
    padding: 27px 305px 0 0;
    display: flex;
    margin-bottom: 71px;
}

.programm__img {
    margin-right: 740px;
}

.programm__title {
    position: relative;
    margin-bottom: 80px;
}

.programm__title::before {
    content: "";
    position: absolute;
    top: 86px;
    left: 0;
    width: 65px;
    height: 7px;
    background-color: var(--red-color);
}

.programm__title::after {
    content: url(/img/question.png);
    position: absolute;
    top: -66px;
    right: 133px;
}

.programm__about {
    padding-top: 131px;
    padding-left: 41px;
}

.programm__about-price {
    margin-bottom: 15px;
    font-size: 45px;
    letter-spacing: 1.9px;
    color: var(--red-color);
}

.programm__about-descr {
    margin-bottom: 38px;
    width: 687px;
    letter-spacing: 1.9px;
    line-height: 26px;
}

.programm__about-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 2px;
}

.programm__about-item {
    max-width: 330px;
    margin-bottom: 29px;
}

.programm__about-item:nth-child(odd) {
    margin-right: 59px;
}

.programm__item-title {
    margin-bottom: 16px;
    font-weight: 800;
}

.programm__item-descr {
    line-height: 27px;
}

.programm__bagel-grey {
    position: absolute;
    top: 271px;
    left: 109px;
    z-index: -1;
}

.programm__bagel-blue {
    position: absolute;
    top: 200px;
    left: 167px;
}

.programm__wave {
    position: absolute;
    bottom: 315px;
    left: 582px;
}

/*How*/
.how {
    background: url(/img/5section-bg.svg) no-repeat;
}

.how__container {
    padding: 50px 392px 241px;
}

.how__title {
    position: relative;
    margin-bottom: 85px;
    width: 352px;
}

.how__title::before {
    content: "";
    position: absolute;
    top: 142px;
    left: 0;
    width: 65px;
    height: 7px;
    background-color: var(--red-color);
}

.how__list {
    display: flex;
    flex-direction: column;
}

.how__item {
    letter-spacing: 2px;
    line-height: 28px;
}

.how__item-1 {
    position: relative;
    justify-content: flex-end;
    display: flex;
    margin-bottom: 72px;
    background: url(/img/just.png) no-repeat 186px 65px;
}

.how__item-1::after {
    content: url(/img/waves.png);
    position: absolute;
    top: 34px;
    right: -36px;
}

.how__item-2 {
    position: relative;
    display: flex;
    margin-bottom: 86px;
    background: url(/img/communication.png) no-repeat 526px 57px;
}

.how__item-3 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 77px;
    background: url(/img/practice.png) no-repeat 5px 62px;
}

.how__item-4 {
    position: relative;
    display: flex;
    background: url(/img/repeat.png) no-repeat 552px 72px;
}

.how__item-2::before {
    content: "";
    position: absolute;
    top: -52px;
    left: 51px;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background-color: var(--blue-color);
}

.how__item-img-2,
.how__item-img-4 {
    margin-right: 72px;
}

.how__item-about-1 {
    padding-top: 104px;
    margin-right: 73px;
}

.how__item-about-2 {
    padding-top: 126px;
}

.how__item-about-3 {
    padding-top: 106px;
    margin-right: 73px;
}

.how__item-about-4 {
    position: relative;
    padding-top: 116px;
}

.how__item-about-4::before {
    content: url(/img/bagel.svg);
    position: absolute;
    top: -41px;
    left: -116px;
}

.how__item-title {
    position: relative;
    margin-bottom: 9px;
    font-weight: 800;
}

.how__item-title::before {
    content: url(/img/arrow.png);
    position: absolute;
    left: -36px;
    top: -1px;
}

.how__item-descr {
    width: 475px;
}

/*Reviews*/
.reviews__container {
    padding: 0 392px 209px;
    padding-bottom: 209px;
    margin-bottom: 50px;
}

.reviews__title {
    position: relative;
    padding-top: 75px;
}

.reviews__title::before {
    content: "";
    position: absolute;
    top: 160px;
    left: 0;
    width: 65px;
    height: 7px;
    background-color: var(--red-color);
}

.reviews__slider-container {
    position: relative;
    margin: 0 auto;
    padding-top: 109px;
    max-width: 100%;
}

.reviews__slider-container::before {
    content: "";
    position: absolute;
    top: 100px;
    right: 173px;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background-color: var(--blue-color);
    z-index: -1;
}

.reviews__slider-container::after {
    content: url(/img/waves.png);
    position: absolute;
    right: -100px;
    top: 15px;
}

.reviews__swiper-container {
    overflow-x: hidden;
    width: 100%;
}

.reviews__swiper-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.reviews__swiper-slide {
    flex-shrink: 0;
}

.reviews__swiper-slide {
    display: flex;
}

.reviews__img {
    margin-right: 69px;
    padding-top: 5px;
    height: 63%;
}

.reviews__name {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 32px;
}

.reviews__descr {
    width: 738px;
    font-size: 18px;
    line-height: 27px;
}

.swiper-scrollbar {
    bottom: -100px !important;
    opacity: 1 !important;
    height: 10px !important;
}

.swiper-scrollbar-drag {
    background: var(--red-color) !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--red-color) !important;
    outline: none !important;
}

.swiper-button-prev {
    left: -135px !important;
}

.swiper-button-next {
    right: -135px !important;
}

.swiper-pagination {
    display: none;
    top: 578px !important;
}

.swiper-pagination-bullet {
    margin: 0 10px !important;
    
    width: 16px !important;
    height: 16px !important;
    background-color: var(--red-color) !important;
}

.swiper-pagination-bullet-active {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*Sign-up*/
.sign-up__container {
    display: flex;
    padding: 140px 204px 189px;
    position: relative;
}

.sign-up__container::before {
    content: url(/img/wave.svg);
    position: absolute;
    top: 149px;
    left: 743px;
}

.sign-up__info {
    padding-top: 132px;
    padding-left: 60px;
}

.sign-up__title {
    position: relative;
    margin-bottom: 54px;
    width: 500px;
}

.sign-up__title::before {
    content: "";
    position: absolute;
    top: 132px;
    left: 0;
    width: 65px;
    height: 7px;
    background-color: var(--red-color);
}

.sign-up__title::after {
    content: url(/img/wave.svg);
    position: absolute;
    top: -279px;
    right: -14px;
    z-index: -1;
}

.sign-up__descr {
    position: relative;
    margin-bottom: 99px;
    width: 540px;
    letter-spacing: 2px;
    line-height: 22px;
}

.sign-up__descr::before {
    content: "";
    position: absolute;
    bottom: -210px;
    left: -313px;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background-color: var(--blue-color);
}

.sign-up__descr::after {
    content: url(/img/circles-blue.png);
    position: absolute;
    top: -272px;
    right: -79px;
}

/*Footer*/
.footer__container {
    padding: 0 392px 86px;
    background-color: #f8f8f8;
}

.footer__socials-list {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding-top: 81px;
    margin-bottom: 16px;
}

.footer__socials-link:not(:last-child) {
    margin-right: 20px;
}

.footer__socials--vk,
.footer__socials--inst,
.footer__socials--yt,
.footer__socials--ok {
    display: inline-block;
    background: url(/img/socials-sprite.png) no-repeat;
    cursor: pointer;
    transition: width ease-in-out 0.4s, height ease-in-out 0.4s;
}

.footer__socials--vk:hover {
    width: 45px;
}

.footer__socials--inst:hover {
    width: 33px;
}

.footer__socials--yt:hover {
    width: 35px;
    height: 33px;
}

.footer__socials--ok:hover {
    width: 26px;
}

.footer__socials--vk {
    width: 40px;
    height: 23px;
}

.footer__socials--inst {
    background-position: -63px 0;
    width: 28px;
    height: 28px;
}

.footer__socials--yt {
    background-position: -114px 0;
    width: 27px;
    height: 33px;
}

.footer__socials--ok {
    background-position: -164px 0;
    width: 19px;
    height: 33px;
}

.footer__contact {
    position: relative;
}

.footer__logo {
    position: relative;
}

.footer__logo-link {
    position: absolute;
    padding-top: 76px;
}

.footer__info {
    display: flex;
    justify-content: flex-end;
    letter-spacing: 1.8px;
}

.footer__address {
    margin-right: 32px;
}

.footer__address--tablet {
    display: none;
}

.footer__tel {
    margin-right: 29px;
}

.footer__btn {
    transition: border-bottom ease-in-out 0.4s, color ease-in-out 0.4s, font-size ease-in-out 0.4s;
}

.footer__btn:hover {
    border-bottom: 1px solid var(--red-color);
    color: var(--red-color);
    font-size: 18px;
}

.footer__descr {
    letter-spacing: 2px;
}

.footer__img {
    margin-bottom: 16px;
}

/*Form*/
.form {
    position: relative;
    display: block;
	visibility: hidden;
	transition: opacity ease-in-out 0.4s;
	opacity: 0;
	z-index: 10;
}

.form__overlay {
    position: fixed;
    display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(187, 179, 181, 0.5);
	width: 100%;
}

.form__container {
    margin: 0 auto;
	padding: 50px 50px;
    width: 460px;
    height: 685px;
	background-color: #fff;
}

.form__title {
    margin-bottom: 40px;
	font-size: 38px;
	text-align: center;
}

.form__input span {
	font-size: 30px;
	font-weight: 700;
	max-width: 100px;
}

.form__input input {
    display: flex;
    margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	font-size: 20px;
	width: 100%;
	height: 50px;
	background-color: rgba(231, 218, 221, 0.5);
    border: 1px solid rgba(231, 218, 221, 0.5);
    outline: none;
}

.form__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 50px;
}

.error {
	background-color: rgba(255, 0, 0, 0.37) !important;
}

.scroll {
	overflow: hidden;
}

.alert {
    display: none;
    padding: 50px 50px;
	font-size: 40px;
	text-align: center;
	width: 550px;
	height: 350px;
	background-color: #fff;
	border: 1px solid var(--red-color);
}

